<% provide(:title, "About") %>
<h1>About Bitsy</h1>
<h2>Bitsy will allow you to share smalls Bits of information, it can be a joke, a tip, or even a picture you found amusing. </h2>
<h2>This is microblog app that has been created with Ruby on Rails, and is being hosted by Heroku. It is a work in progress, but I'm excited to show you what I have so far.</h2>

