<div class="center jumbotron">
  <h1>Welcome to Bitsy!</h1>
  <h2>Come and post your funnyBits, helpfulBits, or just anyBits</h2>

  <%= link_to "Sign up today!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  


