<div class="center jumbotron">
  <h1>Welcome to Bitsy!</h1>
  <h2>This is my app's home page... you can edit html... app/views/static_pages/home.html.erb</h2>

  <%= link_to "Sign up today!", '#', class: "btn btn-lg btn-primary" %>
</div>
  


